PORT=8000
MONGODB_URI=mongodb+srv://Sanjeet:<db_sanzu123>@cluster0.rhvflui.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME='chai aur code'
CLOUDINARY_API_KEY='642724517872329'
CLOUDINARY_API_SECRET='KoRGHYJ0LlPpUYByE8n9sK7uQ'